.container {
  width: 300px;
  position: absolute;
  background: #b19e9e;
  top: 16px;
  bottom: 16px;
  right: 16px;
}

.content {
  margin: 32px 16px;
  text-align: center;
}

.button {
  width: 100px;
}